body {
    margin: 0;
}

.topbar {
    background-color: rgb(54, 54, 54);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navigationBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40%;
    width: 90%;
}

.navpart2 {
    width: 25%;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

.navpart3 {
    display: flex;
    justify-content: end;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    align-items: center;
    font-size: 16px;
}

.navpart1 a {
    background: linear-gradient(95deg, hsl(0, 100%, 64%) 50%, #FFF 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;
    border: 50px;
    border-color: aqua;
}

.navpart2 a {
    color: white;
}

a {
    text-decoration: none;
}

.center {
    height: auto;
    padding-top: 120px;
    padding-left: 85px;
    padding-right: 85px;
}

.mecontainer {
    display: flex;
    justify-content: space-between;
}

.txtsme {
    width: 60%;
}

.txtsme h1,
.txtsme h3 {
    margin: 0;
}

hr {
    height: 2.5px;
    background-color: rgb(255, 73, 73);
}

.txtsme blockquote {
    font-size: 19px;
}

.imgme {
    border-radius: 40%;
}

.btnprojects {
    width: 160px;
    height: 35px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(0, 161, 0);
}

.btnprojects a {
    display: flex;
    justify-content: center;
    color: #FFF;
}

.btnprojects img {
    display: flex;
    justify-content: center;
    width: 20px;
    margin-right: 5px;
}

.boxlang {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.boxcontainerlang {
    height: auto;
    width: auto;
}

.boxlang .skilltitle {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 30%;
}

.skillcontainer .cells {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 20px;
}

.skillcontainer .cells .cell {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 200px;
    padding: 10px 20px;
    margin: 10px;
    border: 1px solid rgba(163, 163, 163, 0.4);
}

.skillcontainer .cells .cell img {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.contactcontainer {
    height: 500px;
}

.contactcontainer .formcontact {
    display: flex;
    justify-content: center;
}


.contactcontainer .formcontact .box input,
.contactcontainer .formcontact .box textarea {
    border: 2px solid rgba(79, 167, 255, 0.6);
    background-color: transparent;
    padding: 10px;
    margin-bottom: 15px;
    resize: none;
    width: 470px;
}

.contactcontainer .formcontact .box textarea {
    padding-bottom: 50px;
}

.contactcontainer .formcontact .box label {
    display: flex;
    justify-content: left;
    margin: 10px 0px 10px 0px;
    font-size: medium;
}

.contactcontainer .formcontact .box .btn button {
    height: 30px;
    margin: 20px 0px 50px 15px;
    width: 458px;
    font-size: medium;
    background-color: rgb(171, 171, 171);
}

.contactcontainer .formcontact .box .btn button:hover {
    filter: brightness(.9);
}

.footersec {
    height: 50px;
    background-color: rgb(31, 31, 31);
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FFF;
}